@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");



.navbarcss{
    background-color: #867a7a;

    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.bordercss{
    border-radius: 1rem;
    border: 1px solid #ff9596;
}

.ongletcss{
    color:#ff6384;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.modalstyle{

    padding: 1 8rem 1 8rem;

}


.titleh1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color:#ff9596 ; 
}


.logo{
    color: #ff6384;
}

.h1wsh{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer{
    color: white;
}




.img-panier{

    height: auto;
    width: 5rem;

}

.letotal{

    margin-right: 5rem;
}

.laquantite{
height: 1.5rem;
width: 2.5rem;

}

.paniercss{
    color:#bb4370;
}

.monPanier{
  color:  #d4d4d4;
}