@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");



.navbarcss{
    background-color: #a9cdd6;
    color: #000000;
}

.bordercss{
    border-radius: 1rem;
    border: 1px solid #a9cdd6;
}

.ongletcss{
    color: gold;
}
.modalstyle{
   
    padding: 1 8rem 1 8rem;

}



.navtext{
margin-left: 10rem;

}

.navtext2{
margin-left: 5rem;

}


.img-panier{

    height: auto;
    width: 5rem;

}